<!-- project/templates/project/show_trip.html -->
{% extends "project/base.html" %}

{% block content %}
    <h1>{{trip.name}}</h1>
    <p>{{trip.destination}}, {{trip.get_dates_string}}</p>

    <table class="attendees_table">
        <tr>
            <th>Trip Attendees:</th>
        </tr>
        {% for p in trip.get_attendees %}
        <tr>
            <td><p>{{p}}</p></td>
        </tr>
        {% endfor %}
    </table>

    <div class="controls">
        {% if is_attendee %}
            <a href="{% url 'update_trip' trip.pk %}" class="button_link">Update Trip Details</a>
            <a href="{% url 'add_attendee' trip.pk %}" class="button_link">Add Attendee</a>
            <a href="{% url 'remove_attendees' trip.pk %}" class="button_link">Remove Attendees</a>
            <a href="{% url 'create_cost' trip.pk %}" class="button_link">Add Cost</a>
            <a href="{% url 'create_img' trip.pk %}" class="button_link">Post Image</a>
            <a href="{% url 'cost_breakdown' trip.pk %}" class="button_link">Cost Breakdown</a>
        {% else %}
            <a href="{% url 'join_trip' trip.pk %}" class="button_link">Join Trip</a>
        {% endif %}
    </div>

    <table class="cost_table">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Paid By</th>
            {% if is_attendee %}
                <th>Update</th>
            {% endif %}
        </tr>
        {% for cost in trip.get_costs %}
        <tr>
            <form method="POST" action="{% url 'update_cost' trip_pk=trip.pk pk=cost.pk %}">
                {% csrf_token %}
                <td><input type="text" name="item_name" value="{{cost.item_name}}"></td>
                <td><input type="number" name="item_price" value="{{cost.item_price}}" step="any"></td>
                <td>
                    <select name="paid_by">
                        <option value>---------</option>
                        {% for p in trip.get_attendees %}
                            {% if cost.paid_by == p %}
                                <option value="{{p.pk}}" selected>{{p}}</option>
                            {% else %}
                                <option value="{{p.pk}}">{{p}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                {% if is_attendee %}
                    <td>
                        <input type="submit" name="update_cost" value="Update Cost" class="cost_update">
            </form>
            <form action="{% url 'delete_cost' trip_pk=trip.pk pk=cost.pk %}">
                        <input type="submit" name="delete_cost" value="Delete Cost" class="cost_update">
                        {% comment %} <a href="{% url 'delete_cost' trip_pk=trip.pk pk=cost.pk %}" class="cost_update">Delete</a> {% endcomment %}
                    </td>
                {% endif %}
            </form>
        </tr>
        {% endfor %}
    </table>

    <div class="image_post_container">
        {% for img in trip.get_images %}
            <div class="image_post">
                <img src="{{img.image.url}}" alt="image can't be loaded">
                <p>by {{img.poster}}</p>
                {% if is_attendee %}
                    <a href="{% url 'delete_image' trip_pk=trip.pk pk=img.pk %}" class="button_link">Delete</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if is_attendee %}
        <a href="{% url 'delete_trip' trip.pk %}" class="button_link">Delete Trip</a>
    {% endif %}
{% endblock %}