<!-- project/templates/project/show_trip.html -->
{% extends "project/base.html" %}

{% block content %}
    <h1>{{trip.name}}</h1>
    <p>{{trip.destination}}, {{trip.get_dates_string}}</p>

    <table class="attendees_table">
        <tr>
            <th>Trip Attendees:</th>
        </tr>
        {% for p in trip.get_attendees %}
        <tr>
            <td><p>{{p}}</p></td>
        </tr>
        {% endfor %}
        {% if is_attendee %}
            <tr>
                <td><a href="{% url 'add_attendee' trip.pk %}">Add Attendee</a></td>
                <td><a href="{% url 'remove_attendees' trip.pk %}">Remove Attendees</a></td>
            </tr>
        {% endif %}
    </table>

    <table class="cost_table">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Paid By</th>
            {% if is_attendee %}
                <th>Update</th>
            {% endif %}
        </tr>
        {% for cost in trip.get_costs %}
        <tr>
            <form method="POST" action="{% url 'update_cost' trip_pk=trip.pk pk=cost.pk %}">
                {% csrf_token %}
                <td><textarea name="item_name" value="{{cost.item_name}}">{{cost.item_name}}</textarea></td>
                <td><input type="number" name="item_price" value="{{cost.item_price}}"></td>
                <td>
                    <select name="paid_by">
                        <option value>---------</option>
                        {% for p in trip.get_attendees %}
                            {% if cost.paid_by == p %}
                                <option value="{{p.pk}}" selected>{{p}}</option>
                            {% else %}
                                <option value="{{p.pk}}">{{p}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                {% if is_attendee %}
                    <td>
                        <input type="submit" name="update_cost" value="Update Cost">
                        <a href="{% url 'delete_cost' trip_pk=trip.pk pk=cost.pk %}">Delete</a>
                    </td>
                {% endif %}
            </form>
        </tr>
        {% endfor %}
        {% if is_attendee %}
            <tr>
                <td></td>
                <td><a href="{% url 'create_cost' trip.pk %}">Add Cost</a></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
    </table>

    <table class="img_table">
        {% if is_attendee %}
            <tr>
                <td><a href="{% url 'create_img' trip.pk %}">Post Image</a></td>
                <td></td>
            </tr>
        {% endif %}
        {% for img in trip.get_images %}
        <tr>
            <td><img src="{{img.image.url}}" alt="image can't be loaded"></td>
            <td>{{img.poster}}</td>
            <td><a href="{% url 'delete_image' trip_pk=trip.pk pk=img.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    {% if is_attendee %}
        <a href="{% url 'delete_trip' trip.pk %}">Delete Trip</a>
    {% endif %}
{% endblock %}