{% extends 'mini_fb/base.html' %}
{% comment %} mini_fb/templates/mini_fb/show_all_profiles.html {% endcomment %}

<h1>showing all profiles</h1>

{% block content %}

{% comment %} show list of profiles {% endcomment %}
<main class="grid-container"> <!-- was <div> -->
    <table class="all_profiles">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Picture</th>
        </tr>
        {% for p in profiles %}
            <tr>
                <td><a href="{% url 'show_profile' p.pk %}">{{p.first_name}}  {{p.last_name}}</a></td>
                <td><p>{{p.city}}</p></td>
                <td class="img_container"><a href="{% url 'show_profile' p.pk %}"><img src="{{p.profile_image_url}}" alt="oopsy image gone"></a></td>
            </tr> <!-- was div -->
        {% endfor %}
    </table>
</main>

{% endblock %}