{% comment %} blog/templates/blog/show_all.html {% endcomment %}

<h1>showing all articles</h1>

{% block content %}

<header>
    <h1>Mini Facebook</h1>
</header>

<nav>
    <ul>
        <li><a href="{% url 'show_all' %}">All Articles</a></li>
        <li><a href="{% url 'random' %}">Random</a></li>

        {% if request.user.is_authenticated %}
        
        <li>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        </li>   

        {% else %}     
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>

{% comment %} show list of articles {% endcomment %}
<main class="grid-container"> <!-- was <div> -->
    <p>{{request.user}}</p>
    {% for a in articles %}
        <article>
            {% comment %} this passes the article's primary key as a parameter to the url {% endcomment %}
            <a href="{% url 'article' a.pk %}">
                {% comment %} <img src="{{a.image_url}}" alt="oopsy image gone"> {% endcomment %}
                <img src="{{a.image_file.url}}" alt="image isn't loading">
            </a>

            <div>
                <h2>{{a.title}}</h2>
                <h4>by {{a.author}} at {{a.published}}</h4>
                <p>{{a.text}}</p>
            </div>
        </article> <!-- was div -->
    {% endfor %}
    </main>
{{articles}}

{% endblock %}