<!-- project/templates/project/base.html -->

{% load static %}

<html>
     <head>
         <title>Trip Planner</title>
         <link rel="stylesheet", href="{% static 'project.css' %}">
     </head> 
     <body>
         <nav class="navbar">
            <a href="{% url 'show_all_trips' %}">Show All Trips</a>
            <a href="{% url 'create_trip' %}">Create Trip</a>
         </nav>

        <div class="content">
            {% block content %}
                {% comment %} content will go here {% endcomment %}
            {% endblock %}

            <footer>
                <h4>have fun~</h4>
            </footer>
        </div>
         
     </body>
 </html>
