<!-- project/templates/project/base.html -->

{% load static %}

<html>
     <head>
         <title>Trip Planner</title>
         <link rel="stylesheet", href="{% static 'project.css' %}">
     </head> 
     <body>
         <nav class="navbar">
            <a href="{% url 'show_all_trips' %}">Show All Trips</a>
            <a href="{% url 'create_trip' %}">Create Trip</a>
            {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
                <a>Signed in as: {{request.user}}</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            
            {% endif %}
         </nav>

        <div class="content">
            {% block content %}
                {% comment %} content will go here {% endcomment %}
            {% endblock %}

            <footer>
                <h4>have fun~</h4>
            </footer>
        </div>
         
     </body>
 </html>
