<!-- project/templates/project/show_trip.html -->
{% extends "project/base.html" %}

{% block content %}
    <h1>{{trip.name}}</h1>
    <p>{{trip.destination}}, {{trip.get_dates_string}}</p>

    <h4>Trip Attendees (removal):</h4>

    {% for p in trip.get_attendees %}
        {% if p != logged_in_profile %}
            <a href="{% url 'remove_attendee' trip_pk=trip.pk pk=p.pk %}" class="button_link attendee_list_link">Remove {{p}}</a>
        {% endif %}
    {% endfor %}
    
    <a href="{% url 'leave_trip' trip.pk %}" class="button_link attendee_list_link">Leave Trip</a>

    <a href="{% url 'show_trip' trip.pk %}" class="button_link attendee_list_link">Done</a>

{% endblock %}