{% extends 'mini_fb/base.html' %}
{% comment %} mini_fb/templates/mini_fb/show_profiles.html {% endcomment %}

<h1>showing profile</h1>

{% block content %}
{% comment %} show a single profile {% endcomment %}
<table>
    <tr><td class="img_container"><img src="{{profile.profile_image_url}}" alt="oopsy image gone" class="profile_img"></td></tr>
    <tr><td><p>{{profile.first_name}}  {{profile.last_name}}</p></td></tr>
    <tr><td><p>{{profile.city}}</p></td></tr>
    <tr><td><p>{{profile.email}}</p></td></tr>
</table>

<table class="status_messages">
    <tr>
        <th><strong>Status Messages:</strong></th>
        <th><a href="{% url 'create_status' profile.pk %}">New Status</a></th>
    </tr>
    {% for status in profile.get_status_messages %}
    <tr>
        <td><p>{{status.timestamp}}</p></td> 
        <td><p>{{status.message}}</p></td>
        <td>
            {% for img in status.get_images %}
                <img src='{{img.image.url}}' alt='{{img.image.url}}'>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}