{% extends 'mini_fb/base.html' %}
{% comment %} mini_fb/templates/mini_fb/show_profiles.html {% endcomment %}

{% block content %}
{% comment %} show a single profile {% endcomment %}

<h1>{{profile.first_name}} {{profile.last_name}}</h1>

<table>
    <tr><td class="img_container"><img src="{{profile.profile_image_url}}" alt="oopsy image gone" class="profile_img"></td></tr>
    <tr><td><p>{{profile.first_name}}  {{profile.last_name}}</p></td></tr>
    <tr><td><p>{{profile.city}}</p></td></tr>
    <tr><td><p>{{profile.email}}</p></td></tr>
    <tr><td><a href="{% url 'update_profile' profile.pk %}">Update Profile</a></td></tr>
</table>

<h3>Friends</h3>
<table>
{% for f in profile.get_friends %}
    <tr class="friend_display">
        <td><a href="{% url 'show_profile' f.pk %}">{{f}}</a></td>
        <td class="img_container"><img src="{{f.profile_image_url }}" alt="image can't be loaded right now"></td>
    </tr>
{% endfor %}
</table>

<table class="status_messages">
    <tr>
        <th><strong>Status Messages:</strong></th>
        <th><a href="{% url 'create_status' profile.pk %}">New Status</a></th>
    </tr>
    {% for status in profile.get_status_messages %}
    <tr>
        <td><p>{{status.timestamp}}</p></td> 
        <td><p>{{status.message}}</p></td>
        <td>
            {% for img in status.get_images %}
                <img src='{{img.image.url}}' alt='{{img.image.url}}'>
            {% endfor %}
        </td>
        <td><a href="{% url 'update_status' status.pk %}">Update Status</a><br/><a href="{% url 'delete_status' status.pk %}">Delete Status</a></td>
        {% comment %} <td></td> {% endcomment %}
    </tr>
    {% endfor %}
</table>

{% endblock %}