div {
    align-items: center;
    padding: 10px;
    background-color: #f5ebe0;
    border-radius: 10px;
    margin-top: 5px;
}

body {
    background-color: #e3d5ca;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 100px;
}

p {
    font-family: monospace;
}

h2 {
    text-align: center;
    color: #ff4d6d;
}

h3 {
    text-align: center;
}

table {
    width: 100%;
}

td {
    text-align: center;
    padding: 5px;
}

img {
    border-radius: 10px;
}

a {
    color:darkcyan;
    text-decoration: none;
}