body {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.content {
    background-color: #E0FBFC;
    width: 100%;
    padding: 5px;
    margin-left: 200px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

/* show all trips styling */
.trip {
    color: white;
    text-align: center;
    background-color: #9DB4C0;
    width: 95%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
}

.trip:hover {
    background-color: #EBA6A9;
}

.trip {
    text-decoration: none;
    color: #002A32;
}

/* general form styling */
input, select, textarea{
    width: 100%;
    padding: 12px 20px;
    height: 60px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

textarea {
    height: 100px;
    resize: none;
}

/* cost table styling */
.cost_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.cost_table td, .cost_table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.cost_table tr:nth-child(even){background-color: #C2DFE3;}

.cost_table tr:nth-child(odd){background-color: #B3DDE2}
  
/* .cost_table tr:hover {background-color: #EEC6CA;} */
  
.cost_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9DB4C0;
    color: white;
}

.cost_update{
    width: 100%;
    text-align: center;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #E0FBFC;
}


/* cost_table form styling */
.cost_table input, .cost_table select{
    width: 100%;
    padding: 12px 20px;
    height: 60px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #E0FBFC;
}

.cost_table input:hover, .cost_table select:hover, input[type="submit"]:hover {
    background-color: #EEC6CA;
}

/* image display styling */
.img_table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img_table img{
    max-width: 50%;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.delete_image {
    max-width: 500px;
    max-height: 500px;
}

table {
    margin: 10px 0;
}

/* link button styling */
.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.button_link {
    padding: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #9DB4C0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px;
}

.button_link:hover {
    background-color:#EEC6CA;
}

/* styling for images */
.image_post_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image_post {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    padding: 10px 0px;
}

.image_post img {
    max-height: 200px;
    object-fit: contain;
}

.image_post p {
    padding: 10px;
}

/* heading/general styling */
h1, h2, h3, h4 {
    text-align: center;
}

/* navbar styling */
.navbar {
    list-style-type: none; 
    background-color: #002A32; 
    width: 200px; 
    height: 100%; 
    position: fixed;
    overflow: auto;
    font-family:'Courier New';
    font-size: 18px;
}

.navbar a {
    display: block; 
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.navbar input {
    display: block; 
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #002A32; 
    border: 0;
    outline: none;
    font-family:'Courier New';
    font-size: 20px;
}

.navbar form, .navbar input {
    margin: 0px;
    border-radius: 0px;
}

form {
    margin: 0px;
}

.navbar a:hover, .navbar input:hover{
    background-color: #00b4d8;
}

.attendee_list_link {
    width: 50%;
    min-width: 200px;
}