<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}

    <h1>About Ken</h1>
    
    <p>Ken, from the Barbie movie, is a notable character for his dynamic evolution from a supporting role 
        to a central figure who challenges traditional gender norms and stereotypes. Initially perceived as
         merely Barbie's boyfriend, Ken's journey showcases themes of self-discovery and empowerment. His 
         quest for identity beyond his relationship with Barbie reflects broader societal conversations 
         about masculinity and individualism. By embracing his own aspirations and desires, Ken represents 
         a modern, multifaceted character who resonates with audiences, making him a symbol of growth and 
         transformation in contemporary storytelling.</p>

{% endblock %}