<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}

    <h1>About Grace Chong</h1>
    
    <p>Grace Chong is a distinguished data scientist and graphic designer currently pursuing a dual degree 
        at Boston University. With a robust foundation in data analysis and visualization, she has made 
        significant contributions to public interest technology through her work on mapping racially 
        restrictive deeds in Massachusetts. As a creative director for a fashion startup, she has 
        successfully led teams to build impactful brand identities and executed marketing strategies that 
        generated substantial sales. Grace’s interdisciplinary skills in data science and design enable her 
        to create innovative solutions that address complex social issues, making her a notable figure in 
        her field.</p>

{% endblock %}